

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html{
    font-family: 'Raleway', sans-serif;
    background: white;
}

body{

}

header, footer {
    position: center;
    width: 100%;
    margin: 10 0 10px 0; }

button{
    outline: none;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    margin: 20 0 25px 0;
}

h2{
    margin: 7px 0 0 60px;
    font-size: 35px;
    font-style: bold;
    
}

h3 {
   font-family: "Raleway";
   font-size: 23px;
   font-style: bold;
}

    }
#intro{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    position: absolute;
    z-index: 10;
    left:0;
    height: 100%;
    width: 100%;
    background: white;
}
#intro h1{
    color: black;
 }

.play-area{
    background: white;
    width: 400px;
    height: 800px;
    text-align: center;
    margin: 0 auto 0 auto;
    box-shadow: 0 0 20px 0px;
}
.center{
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 700px;
}
#answer-screen{
    position: absolute;
    z-index: 1;
    width: 900px;
    height: 800px;
    background: white;
    box-shadow: 0 0 20px 0px;
       
}

#quizpic {
    padding-top: 2px;
    float: left;
    height: 360px;
    width:  315px;
}

/*
#answer-screen img{
    float: left;
}
#answer-screen {
    font-size: 20px;
    text-align: left;
    line-height: 150%;
    margin-left: 10px;
}

#answer-screen h1{
    margin-bottom: 18px;
    border-bottom: 2px solid black;
}
*/
#choices{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px
}
#answers{
    width: 800px;
    text-align: center;
    margin: 20px auto 0 auto;
    clear: both;
    display: inline-block;
}
.choice{
    width: 400px;
    height: 70px;
    font-size: 27px;
    margin: 0 0 10px 0;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: 0px 0px 4px 1px;
}

.choice:hover{
    border: 2px solid white;
    background: #E7E7E7;
    cursor: pointer;
}

.answer{
    display: none;
    background: #DCDCDE;
    width: 220px;
    height: 150px;
    font-size: 18px;
    margin: 20px 10px 10px 10px;
    border-radius: 50px;
    border: 1px solid black;
    box-shadow: inset 0 0 10px;
}

#submit {
    background: #ffffff;
    width: 220px;
    height: 50px;
    font-size: 25px;
    margin: 0px 0 10px 0;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: 0px 0px 4px 1px;
}
#submit:hover, #next:hover {
    border: 2px solid white;
    background: #E7E7E7;
    cursor: pointer;
}

#next{
    background: #ffffff;
    width: 220px;
    height: 50px;
    font-size: 18px;
    margin: 30px 0 10px 0;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: 0px 0px 4px 1px;
}

img{
    min-height: 360px;
    width: 315px;
    float: left;
    padding-bottom: 5px;
  
}

.answer span{
    opacity: 0.3;
}

.left-col{
    width: 60%;
    float: left;
}
.right-col{
    padding-top: 70px;
    width: 40%;
    float: right;

}
.left-col h2 {
    height: auto;
    width: 100%;

}

.selected{
    
    color: black;
    min-width: 200px;
    font-size: 25px;
    margin: 20px 10px 20px 10px;
    border-radius: 4px;
    }

#start{
    margin: 30 10 10 80;
    width: 200px;
    height: 50px;
    background: transparent;
    border: 3px solid white;
    border-radius: 5px;
    color: black;
    font-size: 30px;
    box-shadow: 0px 0px 10px 0px black
}
#start:hover{
    background-color: rgba(0,0,0,0.2);
    
}


#ending{
    position: absolute;
    z-index: 2;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: white;
}
    
    