<input type="button" name="0" value="Right Coronary" style="
    width: 515px;
    height: 45px;
    font-family: 'Raleway';
    font-size: 20px;
    /* margin-top: 5px; */  
    background-color: rgb(110, 21, 21);      color: gray;      cursor: pointer;      letter-spacing: 1px;      
    padding: 0;  border-radius: 50px;  border: 3px solid #fff;  color: #fff;  width:100%;  font-weight: 700;
">